.biohazard{
    font-size: 1000%;
    color: green;
}

body {
    background: burlywood;
    text-align: center;
}

table {
    margin: 0 auto;
    border-color: coral;
    border-collapse: collapse
}
