<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
