{% extends 'base.twig' %}

{% block title %}
    404 Page Not Found
{% endblock %}

{% block body %}
    {% set messages = [
        "Кто здесь?",
        "Здесь ничего нет (и никого)",
        "Сусааааниииин!",
        "Вероятно, с этой страницей плохо обращались, поэтому она ушла",
        "Хм... Неужели мы что-то потеряли?",
        "х_х",
        "Когда-то, давным давно, некий вирус опустошил целую планету..."
    ] %}

    Опасная зона.<br/>
    Такой страницы не существует. Вы входите в никуда.<br/>
    На всякий случай рекомендуем использовать костюм биологической защиты.<br/>
    <div class="biohazard">
        &#9763;
    </div>
    {{ random(messages) }}
{% endblock %}
