{% extends 'base.twig' %}

{% block body %}
    {% if history is empty %}
        Результаты не найдены
    {% else %}
        <a href="/">На главную</a><br/>
        <table border="1px">
        <tr>
            <th>id</th>
            <th>date</th>
            <th>url</th>
            <th>type</th>
        </tr>
        {% for row in history %}
            <tr>
                <td> {{ row["id"] }} </td>
                <td> {{ row["date"] }} </td>
                <td> <a href="/history/show?id={{ row['id'] }}">{{ row["url"] }}</a> </td>
                <td> {{ row["type"] }} </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
