{% extends "base.twig" %}
{% block title %} Главная {% endblock %}
{% block body %}
    <a href="/history">К истории</a><br/>
    <form>
        <label for="target">URL: (с указанием протокола)</label><br/>
        <input type="url" id="target" required="required"><br/>
        <label for="selection">Объект поиска</label><br/>
        <select id="selection" onchange="changeInputVisibility(this.value)">
            <option id="text" value="text" name="text">Текст</option>
            <option id="links" value="links" name="links">Cсылки</option>
            <option id="images" value="images" name="images">Изображения</option>
        </select><br/>
        <div id="testinput">
            <label for="indivinput">Текст для поиска</label><br/>
            <input type="text" name="indivinput" id="indivinput" required="required">
        </div>
        <br/>
        <input type="submit" onclick="handleClick(); return false;" value="Искать">
    </form>
    <div id="result">

    </div>
{% endblock %}
