{% extends "base.twig" %}
{% block body %}
    <a href="/">На главную</a><br/>
    <a href="/history">К истории</a><br/>
    {% if result is empty %}
        Не задан ID
    {% else %}
        <b>Информация о запросе</b><br/>
        {{ result["date"] }}, адрес <b>{{ result["url"] }}</b><br/>
        {% if result["type"] == "text" %}
            Поиск по слову <b>{{ result["result"]["search"] }}</b><br/>
            Найдено {{ result["result"]["result"] }} совпадений
        {% elseif result["type"] == "images" %}
            Поиск изображений.<br/>
            {% if result["result"]["result"] is empty %}
                Ничего не найдено
            {% else %}
                Ссылок на изображения: {{ result["result"]["result"]|length }}<br/>
                {% set i=0 %}
                {% for link in result["result"]["result"] %}
                    {% set i = i+1 %}
                    <a href="{{ link }}">Результат {{ i }}</a><br/>
                {% endfor %}
            {% endif %}
        {% elseif result["type"] == "links" %}
            Поиск ссылок.<br/>
            {% if result["result"]["result"] is empty %}
                Ничего не найдено
            {% else %}
                Ссылок найдено: {{ result["result"]["result"]|length }}<br/>
                {% set i=0 %}
                {% for link in result["result"]["result"] %}
                    {% set i = i+1 %}
                    <a href="{{ link }}">Результат {{ i }}</a><br/>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
